; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.bat]
end_of_line = crlf

[{*.yml,*.js}]
indent_size = 2

[*.yaml]
indent_size = 2
