<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" cacheResult="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
      <directory suffix=".php">plugins/*/src/</directory>
    </include>
    <exclude>
      <file>src/Console/Installer.php</file>
    </exclude>
  </coverage>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <!-- Add any additional test suites you want to run here -->
  <testsuites>
      <testsuite name="Results">
          <directory>plugins/Results/tests/TestCase/</directory>
      </testsuite>
      <testsuite name="App">
          <directory>tests/TestCase/</directory>
      </testsuite>
      <testsuite name="RestApi">
          <directory>vendor/freefri/cake-rest-api/tests/TestCase/</directory>
      </testsuite>
  </testsuites>
  <!-- Load extension for fixtures -->
  <extensions>
    <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    <extension class="RestApi\Lib\Swagger\PHPUnitExtension"/>
  </extensions>
  <!-- Ignore vendor tests in code coverage reports -->
</phpunit>
