name: PHP Composer & SonarCloud

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:

    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        php-version: [ '8.3' ]
        db-type: [ mysql ]
    services:
      memcached:
        image: memcached
        ports:
          - 11211/tcp

    steps:
      - name: Setup MySQL
        if: matrix.db-type == 'mysql'
        run: docker run --rm --name=mysqld -e MYSQL_ROOT_PASSWORD=password -e MYSQL_DATABASE=phputesting -p 3306:3306 -d mysql:8.0.28-debian --default-authentication-plugin=mysql_native_password --disable-log-bin

      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl-72.1, apcu, memcached, pdo_${{ matrix.db-type }}
          ini-values: apc.enable_cli = 1, zend.assertions = 1
          coverage: pcov

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Get date part for cache key
        id: key-date
        run: echo "date=$(date +'%Y-%m')" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ steps.key-date.outputs.date }}-${{ hashFiles('composer.json') }}-${{ matrix.prefer-lowest }}

      - name: Composer install
        run: composer install -d app_rest

      - name: Wait for MySQL
        if: matrix.db-type == 'mysql' || matrix.db-type == 'mariadb'
        run: while ! `mysqladmin ping -h 127.0.0.1 --silent`; do printf 'Waiting for MySQL...\n'; sleep 2; done;

      - name: Run PHP code sniffer
        run: composer run-script cs-check -d app_rest

      - name: Run PHPUnit tests with coverage
        env:
          CACHE_DEFAULT_URL: ${{ format('memcached://127.0.0.1:{0}', job.services.memcached.ports['11211']) }}
          DATABASE_TEST_URL: 'mysql://root:password@127.0.0.1:3306/phputesting'
          COOKIE_ENCRYPT_CONFIG: 'restCookie:4524945321164895:6483546516543558'
        run: |
          composer run-script test-coverage -d app_rest

      - name: Analyze with SonarCloud without including coverage
        uses: SonarSource/sonarcloud-github-action@4006f663ecaf1f8093e8e4abb9227f6041f52216
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: ${{ github.workspace }}
          args: |
            -Dsonar.projectKey=oreplay_oreplay-backend
            -Dsonar.organization=o-replay
            -Dsonar.sources=app_rest/src,app_rest/plugins/Results/src
            -Dsonar.tests=app_rest/tests/TestCase,app_rest/plugins/Results/tests/TestCase
            -Dsonar.php.codesniffer.argument=--standard=phpcs.xml
            -Dsonar.php.coverage.reportPaths=app_rest/coverage.xml
            -Dsonar.coverage.exclusions=**/*
